[Unit]
Description=Cruiser_mon tugboat systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /performance/armada-perf/api/cruiser_mon/startCruiserMonitoring.sh tugboat
Restart=on-failure
RestartSec=60
LimitNOFILE=20000
LimitNPROC=20000

[Install]
WantedBy=multi-user.target
